* {
	color: black;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	word-break: break-word;
}

@page {
	size: 21cm 29.7cm;
	margin: 0;
}
@media all {
	.pagebreak {
		display: none;
	}
}

@media print {
	.pagebreak {
		page-break-before: always;
	}
}
