* {
	color: black;
	box-sizing: border-box;
}
html {
	font-size: 100%;
	word-break: break-word;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 10%,
		rgba(84, 255, 252, 1) 100%
	);
	overflow: scroll;
}

#content {
	max-width: 1500px;
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

header h1 {
	font-family: "Orbitron", sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 3.5rem;
	font-weight: 500;
	text-align: center;
}

header p {
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 1.5rem;
}

@media all and (max-width: 800px) {
	#content {
		display: block;
	}
}

@media all and (min-width:1500px) {
	#content{
		margin: 30px auto;
	}
}

@page {
	size: 21cm 29.7cm;
	margin: 0;
}
@media all {
	.pagebreak {
		display: none;
	}
}

@media print {
	.pagebreak {
		page-break-before: always;
	}
}
