div {
	font-size: 2rem;
}

#cvWrapper {
	box-shadow: 5px 3px 18px 4px rgba(0, 0, 0, 0.75);
	background: rgb(255, 255, 255);
}

#cvDemo {
	display: flex;
	width: 794px;
	height: 1123px;
	overflow: hidden;
}

#leftSide {
	width: 30%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: #ffd124;
}

#profilePicture {
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-radius: 50%;
}

#contact {
	width: 100%;
}

#contact h2 {
	font-size: 2rem;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

.contactInfo {
	display: flex;
	margin-top: 30px;
}

.contactInfo p {
	font-size: 1.2rem;
}
.contactInfo h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.contactIcon {
	width: 40px;
	height: 40px;
	margin: 10px;
}

#skill {
	margin-top: 20px;
	width: 100%;
}

#skill h2 {
	margin-top: 20px;
	font-size: 2rem;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

#skill ul {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 1.5rem;
	list-style: inside;
}

#skill li {
	margin-bottom: 10px;
}

#rightSide {
	width: 70%;
}

#introduction {
	margin-top: 30px;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 10px;
	padding: 10px;
	height: 150px;
	background-color: #006778;
}

#introduction h1 {
	margin-bottom: 15px;
	font-size: 2.7rem;
	color: #ffffff;
	text-align: right;
	font-weight: bolder;
}

#introduction h2 {
	font-size: 1.5rem;
	color: #ffffff;
	text-align: right;
	font-weight: bold;
}

#summary {
	margin-top: 40px;
}

#summary h2,
#education h2,
#experience h2 {
	font-size: 2rem;
	padding-bottom: 10px;
	padding-left: 20px;
	border-bottom: 3px solid black;
}

#summary p {
	margin: 15px;
	font-size: 1.3rem;
}

#education,
#experience {
	margin-top: 30px;
}

.school {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.year {
	width: 200px;
	text-align: center;
	font-size: 1.3rem;
}

.school div {
	border-left: 3px solid black;
	padding-left: 20px;
}

.schoolName {
	font-weight: bold;
	font-size: 1.3rem;
	margin-bottom: 10px;
}
.major {
	font-size: 1.2rem;
}
