#inputForm{
	width: 350px;
	padding: 10px;
	margin: 30px auto;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
}
#inputForm h2{
	font-size: 1.5rem;
	text-align: center;
	margin: 20px;
}



#inputForm .longInput{
	margin-top: 10px;
	margin-bottom: 10px;
}